.bg-image {
  background-image: url('netflix-bg.jpg');
  background-size: cover;       
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 150vh;                
}
